@import "vars";
@import "mixins";
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Material Icons", "Lexend", "Noto Sans KR", sans-serif; //영문폰트 앞에 쓰라고 구글폰트에서 알려줌
  color: $text-color;
}
.hidden {
  display: none;
}
#header {
  // background-color: red;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.5s ease;
  z-index: 5;
  &:hover {
    background-color: $white-color;
    .container #logo a {
      .color {
        display: block;
      }
      .white {
        display: none;
      }
    }
    .container {
      .logo a {
        display: block;
        width: 150px;
        height: 35px;
        z-index: 2;
      }
      .gnbWrap .gnb > li > a {
        color: $black-color;
      }
      .utility button {
        color: $black-color;
      }
    }
  }
  .container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 0 80px;
    #logo {
      position: absolute;
      left: 50px;
      top: 30px;
      a {
        display: flex;
        width: 150px;
        height: 35px;
        .color {
          display: none;
        }
        .white {
          display: block;
        }
      }
    }
    .gnbWrap {
      .gnb {
        // width: 135 * 7px;
        display: flex;
        justify-content: center;
        > li {
          &:hover {
            .depth02 {
              display: flex;
            }
            > a::after {
              transform: scaleX(1);
            }
          }
          > a {
            display: flex;
            height: 100px;
            padding: 0 50px;
            font-size: $medium-size;
            font-weight: 500;
            // line-height: 100px;
            align-items: center;
            justify-content: center;
            color: $white-color;
            transition: all 0.25s ease;
            position: relative;
            /*after의 기준을 a로 정하려면 position: relative 선언해야 함. 기준을 정해주는 것
            부모에다 적어도 되는데, 다른 자식에 영향이 갈 수도 있어서 a에 적음.
            width나 height를 적은 게 아닌 left, right 값으로 넣은거라 기준 설정한 것.
            */
            // transform: scaleX(0);
            &:hover {
              color: $point-color;
              // border-bottom: 3px solid  $point-color;
            }
            &::after {
              @include pseudo;
              left: 50px;
              right: 50px;
              height: 3px;
              background-color: $point-color;
              top: 65px;
              // border-bottom: solid 3px $point-color;
              transform: scaleX(0);
              transform-origin: 50% 50%; //시작 축 정함(50에50이 기본값)
              transition: 0.25s ease;
            }
          }
          .depth02 {
            display: none;
            justify-content: center;
            width: 100%;
            position: absolute;
            left: 0;
            background-color: $light-gray-color;
            li {
              &:hover {
                color: $point-color;
              }
              a {
                display: flex;
                height: 60px;
                padding: 0 30px;
                justify-content: center;
                align-items: center;
                font-size: $normal-size;
                transition: 0.25s ease;
              }
            }
          }
        }
      }
    }
    .utility {
      position: absolute;
      right: 50px;
      top: 0;
      display: flex;
      height: 100px;
      align-items: center;
      .item:hover {
        button {
          background-color: $white-color;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          cursor: pointer;
          border: 1px solid #eee;
          color: $point-color;
        }
        ul {
          margin-top: -10px;
          display: block;
          border: 1px solid #eee;
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        }
      }
      button {
        //버튼 안의 글자는 무조건 중앙
        font-size: 1.4rem;
        color: #ddd;
        text-transform: uppercase;
        width: 80px;
        height: 50px;
        border-bottom: none;
        border-radius: 5px 5px 0 0;
        font-weight: 600;
      }
      ul {
        display: none;
        background-color: $white-color;
        position: absolute;
        border-radius: 0 0 5px 5px;
        // transition: all 0.25 ease;
        &::before {
          @include pseudo();
          width: 78px;
          height: 3px;
          background-color: #fff;
          position: absolute;
          left: 0;
          top: -2px;
        }
        li:hover {
          color: $point-color;
        }
      }
      .snsLink {
        li {
          width: 160px;
          text-align: left;
          a {
            display: block;
            padding: 15px 0 15px 40px;
            font-size: 1.4rem;
            position: relative;
            &::before {
              @include pseudo();
              @include box(32px, 18px);
              display: block;
              left: 10px;
              background-image: url(../img/utility.png);
            }
          }

          &:nth-child(1) a::before {
            background-position: 0 0;
          }
          &:nth-child(2) a::before {
            background-position: -50px 0;
          }
          &:nth-child(3) a::before {
            background-position: -100px 0;
          }
          &:nth-child(4) a::before {
            background-position: -145px 0;
          }
          &:nth-child(5) a::before {
            background-position: -200px 0;
          }
          //hover
          &:nth-child(1):hover a::before {
            background-position: 0 50px;
          }
          &:nth-child(2):hover a::before {
            background-position: -50px 50px;
          }
          &:nth-child(3):hover a::before {
            background-position: -100px 50px;
          }
          &:nth-child(4):hover a::before {
            background-position: -145px 50px;
          }
          &:nth-child(5):hover a::before {
            background-position: -200px 50px;
          }
        }
      }
      .lang {
        li {
          width: 78px;
          text-align: center;
          padding: 15px 0;
        }
      }
    }
  } //.container
} //#header
