@import "vars";
@import "mixins";
html {
  font-size: 10px;
}
body {
  font-size: 1.6rem;
  font-family: "Lexend", "Noto Sans KR", sans-serif; //영문폰트 앞에 쓰라고 구글폰트에서 알려줌
  color: $text-color;
}
.hidden {
  display: none;
}
#header {
  // background-color: $white-color;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  .container {
    position: relative;
    // padding: 0 80px;
    #logo {
      position: absolute;
      left: 20px;
      a {
        display: flex;
        height: 80px;
        align-items: center;
        img {
          height: 30px;
        }
        .color {
          display: none;
        }
        .white {
          display: block;
        }
      }
    }
    .gnbWrap {
      position: fixed;
      width: 100%;
      height: 100%;
      background-color: $white-color;
      padding-top: 80px;
      left: 100%;
      transition: 0.5s ease;
      z-index: 5;
      &.on {
        left: 0;
      }
      .gnb {
        > li {
          padding: 0 20px;
          > a {
            display: flex;
            align-items: center;
            width: 100%;
            height: 80px;
            font-size: $medium-size;
            font-weight: 500;
            color: $text-color;
            border-bottom: 1px solid $gray-color;
            position: relative;
            /*after의 기준을 a로 정하려면 position: relative 선언해야 함. 기준을 정해주는 것
            부모에다 적어도 되는데, 다른 자식에 영향이 갈 수도 있어서 a에 적음.
            width나 height를 적은 게 아닌 left, right 값으로 넣은거라 기준 설정한 것.
            */
            &::before {
              @include pseudo;
              position: absolute;
              right: calc(10% + 10px);
              width: 15px;
              height: 2px;
              background-color: $point-color;
              transform: rotate(45deg);
            }
            &::after {
              @include pseudo;
              position: absolute;
              right: 10%;
              width: 15px;
              height: 2px;
              background-color: $point-color;
              transform: rotate(-45deg);
            }
          }
          .depth02 {
            padding: 0 20px;
            display: none;
            // width: 100%;
            // background-color: $light-gray-color;
            &.on {
              display: block;
            }
            li {
              a {
                display: flex;
                height: 40px;
                transition: 0.25s ease;
                align-items: center;
                border-bottom: 1px solid $gray-color;
                font-size: $normal-size;
              }
            }
          }
        }
      }
      .utility {
        button {
          //버튼 안의 글자는 무조건 중앙
          font-size: 1.2rem;
          color: #ddd;
          text-transform: uppercase;
          width: 50px;
          height: 35px;
          border-bottom: none;
          border-radius: 5px 5px 0 0;
          font-weight: 600;
          display: none;
        }
        ul {
          // display: none;
          padding: 20px;
          background-color: $white-color;
          transition: all 0.25 ease;
        }
        .snsLink {
          ul {
            display: flex;
            padding: 0 20px;
          }
          li {
            width: 20%;
            position: relative;
            &::before {
              //before로 정사각형 만듦, 화면 비율 바뀌어도 정사각형 유지 가능
              content: "";
              display: block;
              padding-top: 100%;
            }
            a {
              display: block;
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              font-size: 0; //글자만 사라짐
              &::before {
                @include pseudo();
                @include box(50px);
                background-size: 250px;
                background-image: url(../img/m_utility.png);
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }

            &:nth-child(1) a::before {
              background-position: 0 0;
            }
            &:nth-child(2) a::before {
              background-position: -50px 0;
            }
            &:nth-child(3) a::before {
              background-position: -100px 0;
            }
            &:nth-child(4) a::before {
              background-position: -150px 0;
            }
            &:nth-child(5) a::before {
              background-position: -200px 0;
            }
            //hover
            &:nth-child(1):hover a::before {
              background-position: 0 50px;
            }
            &:nth-child(2):hover a::before {
              background-position: -50px 50px;
            }
            &:nth-child(3):hover a::before {
              background-position: -100px 50px;
            }
            &:nth-child(4):hover a::before {
              background-position: -150px 50px;
            }
            &:nth-child(5):hover a::before {
              background-position: -200px 50px;
            }
          }
        }
        .lang {
          width: 100px;
          margin: 10px auto;
          border: 1px solid $point-color;
          border-radius: 100px;
          padding: 10px 20px;
          ul {
            padding: 0;
            display: flex;
            justify-content: center;
            li {
              position: relative;
              a {
                padding: 20px;
                text-transform: uppercase;
              }
              &:last-child::before {
                content: "/";
                display: block;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: -5px;
              }
            }
          }
        }
      }
      .close {
        position: absolute;
        top: 30px;
        right: 20px;
      }
    }
    .all {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 15px;
      right: 10px;
      span {
        display: block;
        width: 25px;
        height: 2px;
        margin: 5px;
        background-color: $white-color;
      }
    }
  } //.container
} //#header

#footer {
  padding: 50px 0;
  background-color: $light-gray-color;
  position: relative;
  .btmLogo {
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .info {
    display: block;
    align-items: center;
    font-size: $normal-size;
    color: $heavy-gray-color;
    li {
      padding: 0 10px;
      position: relative;
      line-height: 1.5;
      font-size: $small-size;
      &:last-child {
        border: 1px solid $heavy-gray-color;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        height: 30px;
      }
    }
  }
  .copyright {
    font-size: 10px;
    color: $heavy-gray-color;
    position: absolute;
    bottom: 30px;
    left: 10px;
    white-space: nowrap;
  }
  .murim {
    background-color: #ccc;
    color: $black-color;
    font-size: $small-size;
    @include flexCenter();
    border-radius: 50px;
    margin: 0 10px;
    height: 30px;
  }
}
