@import "vars";
@import "mixins";

.titleBox {
  position: absolute;
  z-index: 2;
  padding: 40px; //left, top 으로 설정해도 됨
  h2 {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.3;
  }
  p {
    margin-top: 20px;
    font-size: $normal-size;
    word-break: keep-all;
  }
}
.btns {
  display: flex;
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  .btn {
    border: 1px solid $gray-color;
    border-radius: 100px;
    @include flexCenter();
    transition: 0.25s ease;
  }
  .large {
    height: 50px;
    padding: 0 50px;
  }
}

#main {
  #mainVisual {
    li {
      height: 100vh;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      &.visual01 {
        background-image: url(../img/bg1.jpg);
      }
      &.visual02 {
        background-image: url(../img/bg2.jpg);
      }
      &.visual03 {
        background-image: url(../img/bg3.jpg);
      }
    }
    .slogan {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: $white-color;
      text-align: center;
      z-index: 2;
      pointer-events: none;
      .main {
        font-size: $x-large-size;
        text-transform: capitalize;
        font-weight: 700;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
      }
      .sub {
        margin-top: 2rem;
        font-size: $medium-size;
        line-height: 1.5;
        word-break: keep-all;
      }
      a {
        display: inline-flex;
        padding: 5px 20px;
        border: 1px solid $white-color;
        border-radius: 100px;
        margin-top: 5rem;
        align-items: center;
        white-space: nowrap;
        font-size: $normal-size;
        background-color: rgba($point-color, 0.5);
        span {
          margin-left: 20px;
          color: $white-color;
          font-size: 20px;
        }
      }
      .pagination {
        margin-top: 50px;
        .swiper-pagination-bullet {
          width: 12px;
          height: 15px;
          background: none;
          border: 2px solid $white-color;
          opacity: 1;
          border-radius: 100px;
          transition: 0.25s ease;
          &-active {
            background-color: rgba($white-color, 0.3);
            width: 50px;
          }
        }
      }
    }
  } //mainVisual end

  #product {
    overflow: hidden;
    position: relative;

    .list {
      li {
        position: relative;
        img {
          width: 100%;
        }
        a {
          position: absolute;
          left: 20px;
          bottom: 50px;
          border: 1px solid $black-color;
          border-radius: 100px;
          display: flex;
          align-items: center;
          padding: 3px 20px;
          font-weight: 500;
          font-size: $normal-size;
          transition: 0.25s ease;
          span {
            margin-left: 5px;
            color: $point-color;
          }
        }
      }
    }
    .btns {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 3;
      button {
        background-color: $white-color;
        @include box(50px);
        @include flexCenter();
        span {
          font-size: 4rem;
        }
      }
    }
    .scroll {
      position: absolute;
      bottom: 20px;
      height: 5px;
      left: 20px;
      right: 20px;
      background-color: #ccc;
      border-radius: 50px;
      z-index: 2;
    }
  }

  #news {
    // padding: 200px 80px 0 80px;
    // width: 1440px;
    // margin: auto;
    overflow: hidden;
    position: relative;
    .titleBox {
      margin-top: 20px;
    }
    .itemList {
      // display: flex;
      // justify-content: space-between;
      margin-bottom: 40px;
      padding-top: 200px;
      .item {
        // background-color: red;
        border: 1px solid $gray-color;
        border-radius: 10px;
        overflow: hidden;
        width: 80%;
        box-sizing: border-box;
        position: relative;
        a {
          display: block;
          height: 300px;
          background-repeat: no-repeat;
          background-position: top;
          background-size: 100%;
        }
        &:nth-child(1) a {
          background-image: url(../img/news01.jpg);
          background-position: center;
        }
        &:nth-child(2) a {
          background-image: url(../img/news02.jpg);
        }
        &:nth-child(3) a {
          background-image: url(../img/news03.jpg);
        }
        .textBox {
          position: absolute;
          width: 100%;
          height: 150px;
          bottom: 0;
          left: 0;
          background-color: $white-color;
          padding: 25px;
          box-sizing: border-box;
          .newsTitle {
            font-size: $medium-size;
            font-weight: 500;
            //여기서부터
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            //여기까지는 글자 넘치면 말줄임표 쓰기
            letter-spacing: -1.5px; //자간 줄이기
          }
          .date {
            margin-top: 30px;
            color: $heavy-gray-color;
            font-size: $small-size;
          }
          .article {
            margin-top: 10px;
            font-size: $normal-size;
            color: $heavy-gray-color;
          }
        }
      }
    }

    .btns {
      margin-bottom: 100px;
      .btn {
        padding: 10px 20px;
        background-color: $black-color;
        color: $white-color;
        font-size: $normal-size;
      }
    }
  }

  #cs {
    margin-bottom: 70px;
    button {
      color: $white-color;
      span {
        color: $main-color;
      }
    }
    > div {
      border-radius: 10px;
      overflow: hidden;
      color: $white-color;
      a {
        display: flex;
        height: 90px;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        word-break: keep-all;
        .text {
          line-height: 1.5;
          .title {
            font-size: $medium-size;
            font-weight: 600;
          }
          .content {
            font-size: $small-size;
          }
        }
        button {
          width: 50px;
          height: 30px;
          border-radius: 50px;
          background-color: $black-color;
          font-size: 0;
          @include flexCenter();
          span {
            color: $white-color;
          }
        }
      }
    }
    .online a {
      background-image: url(../img/bg_contact.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin-bottom: 10px;
    }
    .manager a {
      background-image: url(../img/bg_charge.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}
