@charset "UTF-8";
@media all and (max-width: 1440px) { #main #news .contents { width: 100%; } }

html { font-size: 10px; }

body { font-size: 1.6rem; font-family: "Lexend", "Noto Sans KR", sans-serif; color: #111111; }

.hidden { display: none; }

#header { width: 100%; height: 80px; position: fixed; top: 0; left: 0; z-index: 5; }

#header .container { position: relative; }

#header .container #logo { position: absolute; left: 20px; }

#header .container #logo a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 80px; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

#header .container #logo a img { height: 30px; }

#header .container #logo a .color { display: none; }

#header .container #logo a .white { display: block; }

#header .container .gnbWrap { position: fixed; width: 100%; height: 100%; background-color: #fff; padding-top: 80px; left: 100%; -webkit-transition: 0.5s ease; transition: 0.5s ease; z-index: 5; }

#header .container .gnbWrap.on { left: 0; }

#header .container .gnbWrap .gnb > li { padding: 0 20px; }

#header .container .gnbWrap .gnb > li > a { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 80px; font-size: 18px; font-weight: 500; color: #111111; border-bottom: 1px solid #ddd; position: relative; /*after의 기준을 a로 정하려면 position: relative 선언해야 함. 기준을 정해주는 것 부모에다 적어도 되는데, 다른 자식에 영향이 갈 수도 있어서 a에 적음. width나 height를 적은 게 아닌 left, right 값으로 넣은거라 기준 설정한 것. */ }

#header .container .gnbWrap .gnb > li > a::before { content: ""; display: block; position: absolute; position: absolute; right: calc(10% + 10px); width: 15px; height: 2px; background-color: #1dcb5d; -webkit-transform: rotate(45deg); transform: rotate(45deg); }

#header .container .gnbWrap .gnb > li > a::after { content: ""; display: block; position: absolute; position: absolute; right: 10%; width: 15px; height: 2px; background-color: #1dcb5d; -webkit-transform: rotate(-45deg); transform: rotate(-45deg); }

#header .container .gnbWrap .gnb > li .depth02 { padding: 0 20px; display: none; }

#header .container .gnbWrap .gnb > li .depth02.on { display: block; }

#header .container .gnbWrap .gnb > li .depth02 li a { display: -webkit-box; display: -ms-flexbox; display: flex; height: 40px; -webkit-transition: 0.25s ease; transition: 0.25s ease; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-bottom: 1px solid #ddd; font-size: 14px; }

#header .container .gnbWrap .utility button { font-size: 1.2rem; color: #ddd; text-transform: uppercase; width: 50px; height: 35px; border-bottom: none; border-radius: 5px 5px 0 0; font-weight: 600; display: none; }

#header .container .gnbWrap .utility ul { padding: 20px; background-color: #fff; -webkit-transition: all 0.25 ease; transition: all 0.25 ease; }

#header .container .gnbWrap .utility .snsLink ul { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0 20px; }

#header .container .gnbWrap .utility .snsLink li { width: 20%; position: relative; }

#header .container .gnbWrap .utility .snsLink li::before { content: ""; display: block; padding-top: 100%; }

#header .container .gnbWrap .utility .snsLink li a { display: block; position: absolute; left: 0; top: 0; width: 100%; height: 100%; font-size: 0; }

#header .container .gnbWrap .utility .snsLink li a::before { content: ""; display: block; position: absolute; width: 50px; height: 50px; background-size: 250px; background-image: url(../img/m_utility.png); left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

#header .container .gnbWrap .utility .snsLink li:nth-child(1) a::before { background-position: 0 0; }

#header .container .gnbWrap .utility .snsLink li:nth-child(2) a::before { background-position: -50px 0; }

#header .container .gnbWrap .utility .snsLink li:nth-child(3) a::before { background-position: -100px 0; }

#header .container .gnbWrap .utility .snsLink li:nth-child(4) a::before { background-position: -150px 0; }

#header .container .gnbWrap .utility .snsLink li:nth-child(5) a::before { background-position: -200px 0; }

#header .container .gnbWrap .utility .snsLink li:nth-child(1):hover a::before { background-position: 0 50px; }

#header .container .gnbWrap .utility .snsLink li:nth-child(2):hover a::before { background-position: -50px 50px; }

#header .container .gnbWrap .utility .snsLink li:nth-child(3):hover a::before { background-position: -100px 50px; }

#header .container .gnbWrap .utility .snsLink li:nth-child(4):hover a::before { background-position: -150px 50px; }

#header .container .gnbWrap .utility .snsLink li:nth-child(5):hover a::before { background-position: -200px 50px; }

#header .container .gnbWrap .utility .lang { width: 100px; margin: 10px auto; border: 1px solid #1dcb5d; border-radius: 100px; padding: 10px 20px; }

#header .container .gnbWrap .utility .lang ul { padding: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

#header .container .gnbWrap .utility .lang ul li { position: relative; }

#header .container .gnbWrap .utility .lang ul li a { padding: 20px; text-transform: uppercase; }

#header .container .gnbWrap .utility .lang ul li:last-child::before { content: "/"; display: block; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); left: -5px; }

#header .container .gnbWrap .close { position: absolute; top: 30px; right: 20px; }

#header .container .all { width: 50px; height: 50px; position: absolute; top: 15px; right: 10px; }

#header .container .all span { display: block; width: 25px; height: 2px; margin: 5px; background-color: #fff; }

#footer { padding: 50px 0; background-color: #f5f5f5; position: relative; }

#footer .btmLogo { margin-bottom: 20px; padding: 0 10px; }

#footer .info { display: block; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 14px; color: #888; }

#footer .info li { padding: 0 10px; position: relative; line-height: 1.5; font-size: 12px; }

#footer .info li:last-child { border: 1px solid #888; border-radius: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin: 10px; height: 30px; }

#footer .copyright { font-size: 10px; color: #888; position: absolute; bottom: 30px; left: 10px; white-space: nowrap; }

#footer .murim { background-color: #ccc; color: #333; font-size: 12px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; border-radius: 50px; margin: 0 10px; height: 30px; }
